<div class="box box-danger">
  <div class="box-header with-border">
    <div class="row">

      <div class="col-md-3" ng-init="filter.kategori = 'TPPU'">
        <div class="form-group">
          <label>KATEGORI</label>
          <div class="input-group input-group-sm">
            <div class="input-group-btn">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" ng-model="filter.kategori">Kategori <span class="fa fa-caret-down"></span></button>
              <ul class="dropdown-menu">
                <li><a ng-click="filter.kategori = 'TPPU'; filter.tppt_wil = ''; filter.tppt_profesi = ''; filterGroup(filter, checkPoint)">TPPU</a></li>
                <li><a ng-click="filter.kategori = 'TPPT'; filter.tppu_wil = ''; filter.tppu_profesi = ''; filterGroup(filter, checkPoint)">TPPT</a></li>
              </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control" ng-model="filter.kategori" readOnly>
          </div>
        </div>
      </div>

      <div class="col-md-3" ng-if="filter.kategori == 'TPPU'">
        <div class="form-group">
          <label>Wilayah (TPPU)</label>
          <select class="form-control input-sm" name="wil" ng-model="filter.tppu_wil" ng-change="filterGroup(filter, checkPoint)">
            <option value="">-Pilih</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" ng-if="filter.kategori == 'TPPT'">
        <div class="form-group">
          <label>Wilayah (TPPT)</label>
          <select class="form-control input-sm" name="wil" ng-model="filter.tppt_wil" ng-change="filterGroup(filter, checkPoint)">
            <option value="">-Pilih</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" ng-if="filter.kategori == 'TPPU'">
        <div class="form-group">
          <label>Profesi (TPPU)</label>
          <select class="form-control input-sm" name="profesi" ng-model="filter.tppu_profesi" ng-change="filterGroup(filter, checkPoint)">
            <option value="">-Pilih</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
      </div>
      <div class="col-md-3" ng-if="filter.kategori == 'TPPT'">
        <div class="form-group">
          <label>Profesi (TPPT)</label>
          <select class="form-control input-sm" name="profesi" ng-model="filter.tppt_profesi" ng-change="filterGroup(filter, checkPoint)">
            <option value="">-Pilih</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Usia</label>
          <select class="form-control input-sm" name="usia" ng-model="filter.usia" ng-change="filterGroup(filter, checkPoint)">
            <option value="">-Pilih</option>
            <option value="17-23 tahun">17-23 Tahun</option>
            <option value="24-30 tahun">24-30 Tahun</option>
            <option value="31-40 tahun">31-40 Tahun</option>
            <option value="41-60 tahun">41-60 Tahun</option>
            <option value="Lebih dari 60 tahun">Lebih Dari 60 Tahun</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
