<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Chart
    <small>Data Diagram Per Daerah</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Chart</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="box box-danger">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Provinsi</label>
            <select class="form-control" name="provinsi" ng-model="filter.id_prov" ng-change="changeProv(filter)">
              <option value="">-Pilih</option>
              <option ng-repeat="provinsi in main.provinsis | orderBy:'provinsi'" value="{{provinsi.id}}">{{provinsi.provinsi}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Kabupaten</label>
            <select class="form-control" name="kabupaten" ng-model="filter.id_kab" ng-change="changeKab(filter)">
              <option value="">-Pilih</option>
              <option ng-repeat="kabupaten in main.kabupatens | filter:{'id_prov':filter.id_prov}:true | orderBy:'kabupaten'" value="{{kabupaten.id}}">{{kabupaten.kabupaten}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Kecamatan</label>
            <select class="form-control" name="kecamatan" ng-model="filter.id_kec">
              <option value="">-Pilih</option>
              <option ng-repeat="kecamatan in main.kecamatans | filter:{'id_kab':filter.id_kab}:true | orderBy:'kecamatan'" value="{{kecamatan.id}}">{{kecamatan.kecamatan}}</option>
            </select>
          </div>
          <input type="submit" class="btn bg-maroon btn-flat" ng-disabled="!filter" ng-click="filterChart(filter)" value="Lihat">
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="chart != ''">
    <div class="col-md-12">
      <div class="alert alert-info">
        <table class="table">
          <tr>
            <td width="34%" ng-if="filter.id_prov && chart != ''">PROVINSI: <h3 ng-repeat="prov in main.provinsis | filter:{'id':filter.id_prov}:true">{{prov.provinsi}}</h3></td>
            <td width="33%" ng-if="filter.id_kab && chart != ''">KABUPATEN/KOTA: <h3 ng-repeat="kab in main.kabupatens | filter:{'id':filter.id_kab}:true">{{kab.kabupaten}}</h3></td>
            <td width="33%" ng-if="filter.id_kec && chart != ''">KECAMATAN: <h3 ng-repeat="kec in main.kecamatans | filter:{'id':filter.id_kec}:true">{{kec.kecamatan}}</h3></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="fa fa-bolt"></span> Capaian Jumlah</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">

          <div ng-if = "chart.capaian == ''" class="alert alert-info text-center">MEMUAT</div>
          <div style="height: 300px; margin-bottom:100px;"
            ng-if = "chart.capaian != ''"
            bar-chart
            bar-data='chart.capaian'
            bar-x='wilayah'
            bar-y='["target", "enumerator", "data_entry", "hasil"]'
            bar-labels='["Target", "Enumerator", "Data Entry", "Hasil"]'>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="fa fa-fire"></span> Capaian Persentase</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">

          <div ng-if = "chart.capaian_percent == ''" class="alert alert-info text-center">MEMUAT</div>
          <div style="height: 300px; margin-bottom:100px;"
            ng-if = "chart.capaian_percent != ''"
            bar-chart
            bar-data='chart.capaian_percent'
            bar-x='wilayah'
            bar-y='["target", "enumerator", "data_entry", "hasil"]'
            bar-labels='["Target", "Enumerator", "Data Entry", "Hasil"]'>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><span class="fa fa-balance-scale"></span> Jenis Kelamin</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">

      <div class="row">
        <div class="col-md-6">
          <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-male"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Laki-laki</span>
              <span class="info-box-number" ng-repeat="x in chart.lakilaki">{{x.value}}</span>
              <div class="progress">
                <div class="progress-bar" style="width: {{jumlahJenisKelamin('Laki-laki') / totalJenisKelamin() * 100}}%"></div>
              </div>
              <span class="progress-description">
                {{jumlahJenisKelamin('Laki-laki') / totalJenisKelamin() * 100 | number}}% Dari {{totalJenisKelamin()}} Responden
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box bg-purple">
            <span class="info-box-icon"><i class="fa fa-female"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Perempuan</span>
              <span class="info-box-number" ng-repeat="x in chart.perempuan">{{x.value}}</span>
              <div class="progress">
                <div class="progress-bar" style="width: {{jumlahJenisKelamin('Perempuan') / totalJenisKelamin() * 100}}%"></div>
              </div>
              <span class="progress-description">
                {{jumlahJenisKelamin('Perempuan') / totalJenisKelamin() * 100 | number}}% Dari {{totalJenisKelamin()}} Responden
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Profesi Responden</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#profesi_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#profesi_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#profesi_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "chart.profesi == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="profesi_batang" style="height: 300px;"
            ng-if = "chart.profesi != ''"
            bar-chart
            bar-data='chart.profesi'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["rgb(21, 187, 37)"]'>
          </div>

          <div class="chart tab-pane" id="profesi_pie" style="height: 300px;"
            ng-if = "chart.profesi != ''"
            donut-chart
            donut-data='chart.profesi'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="profesi_table" ng-if="chart.profesi != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in chart.profesi">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> Responden</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Profesi Responden Lainnya</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#profesi_lain_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#profesi_lain_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#profesi_lain_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "chart.profesi_lain == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="profesi_lain_batang" style="height: 300px;"
            ng-if = "chart.profesi_lain != ''"
            bar-chart
            bar-data='chart.profesi_lain'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["rgb(207, 48, 48)"]'>
          </div>

          <div class="chart tab-pane" id="profesi_lain_pie" style="height: 300px;"
            ng-if = "chart.profesi_lain != ''"
            donut-chart
            donut-data='dashboard.profesi_lain'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="profesi_lain_table" ng-if="chart.profesi_lain != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in chart.profesi_lain">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> Responden</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="fa fa-adjust"></span> Usia Responden</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#usia_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#usia_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#usia_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "chart.usia == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="usia_batang" style="position: relative; height: 300px;"
            ng-if = "chart.usia != ''"
            bar-chart
            bar-data='chart.usia'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["#31C0BE"]'>
          </div>

          <div class="chart tab-pane" id="usia_pie" style="position: relative; height: 300px;"
            ng-if = "chart.usia != ''"
            donut-chart
            donut-data='chart.usia'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-colors='["#31C0BE","#c7254e","#98a0d3"]'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="usia_table" ng-if="chart.usia != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in chart.usia">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> Responden</td>
              </tr>
            </table>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Pendidikan Responden</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#pendidikan_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#pendidikan_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#pendidikan_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "chart.pendidikan == ''" class="alert alert-info text-center">BELUM ADA DATA</div>

          <div class="chart tab-pane active" id="pendidikan_batang" style="position: relative; height: 300px;"
            ng-if = "chart.pendidikan != ''"
            bar-chart
            bar-data='chart.pendidikan'
            bar-x='label'
            bar-y='["value"]'
            bar-labels='["Jumlah"]'
            bar-colors='["rgb(180, 173, 4)"]'>
          </div>

          <div class="chart tab-pane" id="pendidikan_pie" style="position: relative; height: 300px;"
            ng-if = "chart.pendidikan != ''"
            donut-chart
            donut-data='chart.pendidikan'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="pendidikan_table" ng-if="chart.pendidikan != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in chart.pendidikan">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> Responden</td>
              </tr>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
<!-- /.content -->
