<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Flow Tugas
    <small>Data Flow Tugas Per Daerah</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Flow</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="box box-danger">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Provinsi</label>
            <select class="form-control" name="provinsi" ng-model="filter.id_prov" ng-change="changeProv(filter)">
              <option value="">-Pilih</option>
              <option ng-repeat="provinsi in main.provinsis | orderBy:'provinsi'" value="{{provinsi.id}}">{{provinsi.provinsi}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Kabupaten</label>
            <select class="form-control" name="kabupaten" ng-model="filter.id_kab" ng-change="changeKab(filter)">
              <option value="">-Pilih</option>
              <option ng-repeat="kabupaten in main.kabupatens | filter:{'id_prov':filter.id_prov}:true | orderBy:'kabupaten'" value="{{kabupaten.id}}">{{kabupaten.kabupaten}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Kecamatan</label>
            <select class="form-control" name="kecamatan" ng-model="filter.id_kec">
              <option value="">-Pilih</option>
              <option ng-repeat="kecamatan in main.kecamatans | filter:{'id_kab':filter.id_kab}:true | orderBy:'kecamatan'" value="{{kecamatan.id}}">{{kecamatan.kecamatan}}</option>
            </select>
          </div>
          <input type="submit" class="btn bg-maroon btn-flat" ng-disabled="!filter" ng-click="filterFlow(filter)" value="Lihat">
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="flow != ''">
    <div class="col-md-12">
      <div class="alert alert-info">
        <table class="table">
          <tr>
            <td width="34%" ng-if="filter.id_prov && flow != ''">PROVINSI: <h3 ng-repeat="prov in main.provinsis | filter:{'id':filter.id_prov}:true">{{prov.provinsi}}</h3></td>
            <td width="33%" ng-if="filter.id_kab && flow != ''">KABUPATEN/KOTA: <h3 ng-repeat="kab in main.kabupatens | filter:{'id':filter.id_kab}:true">{{kab.kabupaten}}</h3></td>
            <td width="33%" ng-if="filter.id_kec && flow != ''">KECAMATAN: <h3 ng-repeat="kec in main.kecamatans | filter:{'id':filter.id_kec}:true">{{kec.kecamatan}}</h3></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Koordinasi Dengan Lurang Atau Kepala Desa</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#list1_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#list1_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#list1_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "flow.list1 == ''" class="alert alert-info text-center">BELUM ADA DATA</div>
          <div class="chart tab-pane active" id="list1_batang">
            <div
              ng-if = "flow.list1 != ''"
              bar-chart
              bar-data='flow.list1'
              bar-x='label'
              bar-y='["value"]'
              bar-labels='["Jumlah"]'
              bar-colors='["rgb(21, 187, 37)"]'>
            </div>
          </div>

          <div class="chart tab-pane" id="list1_pie" style="height: 300px;"
            ng-if = "flow.list1 != ''"
            donut-chart
            donut-data='flow.list1'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="list1_table" ng-if="flow.list1 != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in flow.list1">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Susun Kerangka Sample Calon Responden</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#list2_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#list2_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#list2_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "flow.list2 == ''" class="alert alert-info text-center">BELUM ADA DATA</div>
          <div class="chart tab-pane active" id="list2_batang">
            <div
              ng-if = "flow.list2 != ''"
              bar-chart
              bar-data='flow.list2'
              bar-x='label'
              bar-y='["value"]'
              bar-labels='["Jumlah"]'
              bar-colors='["rgb(61, 214, 169)"]'>
            </div>
          </div>

          <div class="chart tab-pane" id="list2_pie" style="height: 300px;"
            ng-if = "flow.list2 != ''"
            donut-chart
            donut-data='flow.list2'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="list2_table" ng-if="flow.list2 != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in flow.list2">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Kuesioner Responden</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#listRes_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <!-- <li><a data-target="#listRes_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li> -->
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "flow.listRes == ''" class="alert alert-info text-center">BELUM ADA DATA</div>
          <div class="chart tab-pane active" id="listRes_batang">

            <div class="row" ng-if="flow.listRes.chart && flow.listRes.chart.series[0].data == ''">
              <div class="col-md-12">
                <div class="alert alert-danger">TIDAK ADA DATA</div>
              </div>
            </div>
            <div class="row" ng-if="flow.listRes.chart && flow.listRes.chart.series[0].data != ''">
              <div class="col-md-12">
                <hc-chart options="flow.listRes.chart">Flow Tugas 3 - 12</hc-chart>
              </div>
            </div>

          </div>

          <!-- <div class="chart tab-pane" id="listRes_table" ng-if="flow.listRes != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in flow.listRes">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> </td>
              </tr>
            </table>
          </div> -->

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Wawancara Kelurahan Berita Acara</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#list13_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#list13_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#list13_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "flow.list13 == ''" class="alert alert-info text-center">BELUM ADA DATA</div>
          <div class="chart tab-pane active" id="list13_batang">
            <div
              ng-if = "flow.list13 != ''"
              bar-chart
              bar-data='flow.list13'
              bar-x='label'
              bar-y='["value"]'
              bar-labels='["Jumlah"]'
              bar-colors='["rgb(240, 61, 116)"]'>
            </div>
          </div>

          <div class="chart tab-pane" id="list13_pie" style="height: 300px;"
            ng-if = "flow.list13 != ''"
            donut-chart
            donut-data='flow.list13'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="list13_table" ng-if="flow.list13 != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in flow.list13">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Dokumen Diterima Supervisor</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#list14_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#list14_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#list14_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "flow.list14 == ''" class="alert alert-info text-center">BELUM ADA DATA</div>
          <div class="chart tab-pane active" id="list14_batang">
            <div
              ng-if = "flow.list14 != ''"
              bar-chart
              bar-data='flow.list14'
              bar-x='label'
              bar-y='["value"]'
              bar-labels='["Jumlah"]'
              bar-colors='["rgb(80, 119, 246)"]'>
            </div>
          </div>

          <div class="chart tab-pane" id="list14_pie" style="height: 300px;"
            ng-if = "flow.list14 != ''"
            donut-chart
            donut-data='flow.list14'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="list14_table" ng-if="flow.list14 != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in flow.list14">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <span class="fa fa-cubes"></span> Selesai QA Kirim Ke Korwil</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a data-target="#list15_batang" class="btn btn-box-tool" data-toggle="tab">Batang</a></li>
              <li><a data-target="#list15_pie" data-toggle="tab" class="btn btn-box-tool">Pie</a></li>
              <li><a data-target="#list15_table" data-toggle="tab" class="btn btn-box-tool">Tabel</a></li>
            </ul>
          </div>
        </div>
        <div class="box-body tab-content no-padding">

          <div ng-if = "flow.list15 == ''" class="alert alert-info text-center">BELUM ADA DATA</div>
          <div class="chart tab-pane active" id="list15_batang">
            <div
              ng-if = "flow.list15 != ''"
              bar-chart
              bar-data='flow.list15'
              bar-x='label'
              bar-y='["value"]'
              bar-labels='["Jumlah"]'
              bar-colors='["rgb(240, 186, 44)"]'>
            </div>
          </div>

          <div class="chart tab-pane" id="list15_pie" style="height: 300px;"
            ng-if = "flow.list15 != ''"
            donut-chart
            donut-data='flow.list15'
            donut-label-color='"#000000"'
            donut-background-color='"#ffffff"'
            donut-formatter='myFormatter'>
          </div>

          <div class="chart tab-pane" id="list15_table" ng-if="flow.list15 != ''">
            <table class="table table-bordered table-striped">
              <tr ng-repeat="p in flow.list15">
                <td>{{p.label}}</td>
                <td>: <b class="badge bg-red"> {{p.value}} </b> </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>



</section>
<!-- /.content -->
