<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    ERR
    <small>Data Kuesioner</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">ERR</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">


      <div class="box box-primary">
        <div class="box-body">

            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <td rowspan="2" width="100px" style="vertical-align:middle;">
                      <span class="badge"><i class="fa fa-info"></i></span>
                      <span class="badge"><i class="fa fa-info"></i></span>
                      <span class="badge"><i class="fa fa-info"></i></span>
                      =
                    </td>
                    <td>
                      <span class="badge"><i class="fa fa-info"></i></span> (<i>Pertama</i>)
                    </td>
                    <td>
                      <span class="badge"><i class="fa fa-info"></i></span> (<i>Kedua</i>)
                    </td>
                    <td>
                      <span class="badge"><i class="fa fa-info"></i></span> (<i>Ketiga</i>)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Enumerator
                    </td>
                    <td>
                      Data Entry
                    </td>
                    <td>
                      Tabel 3
                    </td>
                  </tr>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th width="3%">No</th>
                      <th>Nomor Kuesioner</th>
                      <th>AB</th>
                      <th>C</th>
                      <th>D</th>
                      <th>E</th>
                      <th>F</th>
                      <th>G</th>
                      <th>H</th>
                      <th>I</th>
                      <th>J</th>
                      <th>K</th>
                      <th>L</th>
                      <th>M</th>
                      <th>N</th>
                      <th>
                        <select class="form-control" name="tabeldari" ng-model="dariTabel">
                          <option value="">-Dari</option>
                          <option value="tbl_jwb_en_ab">Enum AB</option>
                          <option value="tbl_jwb_en_c">Enum C</option>
                          <option value="tbl_jwb_en_d">Enum D</option>
                          <option value="tbl_jwb_en_e">Enum E</option>
                          <option value="tbl_jwb_en_f">Enum F</option>
                          <option value="tbl_jwb_en_g">Enum G</option>
                          <option value="tbl_jwb_en_h">Enum H</option>
                          <option value="tbl_jwb_en_i">Enum I</option>
                          <option value="tbl_jwb_en_j">Enum J</option>
                          <option value="tbl_jwb_en_k">Enum K</option>
                          <option value="tbl_jwb_en_l">Enum L</option>
                          <option value="tbl_jwb_en_m">Enum M</option>
                          <option value="tbl_jwb_en_n">Enum N</option>
                          <option value="tbl_jwb_ed_ab">Entry AB</option>
                          <option value="tbl_jwb_ed_c">Entry C</option>
                          <option value="tbl_jwb_ed_d">Entry D</option>
                          <option value="tbl_jwb_ed_e">Entry E</option>
                          <option value="tbl_jwb_ed_f">Entry F</option>
                          <option value="tbl_jwb_ed_g">Entry G</option>
                          <option value="tbl_jwb_ed_h">Entry H</option>
                          <option value="tbl_jwb_ed_i">Entry I</option>
                          <option value="tbl_jwb_ed_j">Entry J</option>
                          <option value="tbl_jwb_ed_k">Entry K</option>
                          <option value="tbl_jwb_ed_l">Entry L</option>
                          <option value="tbl_jwb_ed_m">Entry M</option>
                          <option value="tbl_jwb_ed_n">Entry N</option>
                          <option value="tbl_jwb_gb_ab">Table 3 AB</option>
                          <option value="tbl_jwb_gb_c">Table 3 C</option>
                          <option value="tbl_jwb_gb_d">Table 3 D</option>
                          <option value="tbl_jwb_gb_e">Table 3 E</option>
                          <option value="tbl_jwb_gb_f">Table 3 F</option>
                          <option value="tbl_jwb_gb_g">Table 3 G</option>
                          <option value="tbl_jwb_gb_h">Table 3 H</option>
                          <option value="tbl_jwb_gb_i">Table 3 I</option>
                          <option value="tbl_jwb_gb_j">Table 3 J</option>
                          <option value="tbl_jwb_gb_k">Table 3 K</option>
                          <option value="tbl_jwb_gb_l">Table 3 L</option>
                          <option value="tbl_jwb_gb_m">Table 3 M</option>
                          <option value="tbl_jwb_gb_n">Table 3 N</option>
                        </select>
                        <select class="form-control" name="tabelke" ng-model="keTabel">
                          <option value="">-Ke</option>
                          <option value="tbl_jwb_en_ab">Enum AB</option>
                          <option value="tbl_jwb_en_c">Enum C</option>
                          <option value="tbl_jwb_en_d">Enum D</option>
                          <option value="tbl_jwb_en_e">Enum E</option>
                          <option value="tbl_jwb_en_f">Enum F</option>
                          <option value="tbl_jwb_en_g">Enum G</option>
                          <option value="tbl_jwb_en_h">Enum H</option>
                          <option value="tbl_jwb_en_i">Enum I</option>
                          <option value="tbl_jwb_en_j">Enum J</option>
                          <option value="tbl_jwb_en_k">Enum K</option>
                          <option value="tbl_jwb_en_l">Enum L</option>
                          <option value="tbl_jwb_en_m">Enum M</option>
                          <option value="tbl_jwb_en_n">Enum N</option>
                          <option value="tbl_jwb_ed_ab">Entry AB</option>
                          <option value="tbl_jwb_ed_c">Entry C</option>
                          <option value="tbl_jwb_ed_d">Entry D</option>
                          <option value="tbl_jwb_ed_e">Entry E</option>
                          <option value="tbl_jwb_ed_f">Entry F</option>
                          <option value="tbl_jwb_ed_g">Entry G</option>
                          <option value="tbl_jwb_ed_h">Entry H</option>
                          <option value="tbl_jwb_ed_i">Entry I</option>
                          <option value="tbl_jwb_ed_j">Entry J</option>
                          <option value="tbl_jwb_ed_k">Entry K</option>
                          <option value="tbl_jwb_ed_l">Entry L</option>
                          <option value="tbl_jwb_ed_m">Entry M</option>
                          <option value="tbl_jwb_ed_n">Entry N</option>
                          <option value="tbl_jwb_gb_ab">Table 3 AB</option>
                          <option value="tbl_jwb_gb_c">Table 3 C</option>
                          <option value="tbl_jwb_gb_d">Table 3 D</option>
                          <option value="tbl_jwb_gb_e">Table 3 E</option>
                          <option value="tbl_jwb_gb_f">Table 3 F</option>
                          <option value="tbl_jwb_gb_g">Table 3 G</option>
                          <option value="tbl_jwb_gb_h">Table 3 H</option>
                          <option value="tbl_jwb_gb_i">Table 3 I</option>
                          <option value="tbl_jwb_gb_j">Table 3 J</option>
                          <option value="tbl_jwb_gb_k">Table 3 K</option>
                          <option value="tbl_jwb_gb_l">Table 3 L</option>
                          <option value="tbl_jwb_gb_m">Table 3 M</option>
                          <option value="tbl_jwb_gb_n">Table 3 N</option>
                        </select>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr dir-paginate="x in filtered = (errs | filter:search | filter:search_index) | orderBy:predicate:reverse  | itemsPerPage:itemsize">
                      <td>{{ $index + 1}}</td>
                      <td>{{x.nomor_kuesioner}}</td>
                      <td>
                        <span class="badge" ng-class="x.enumAB != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryAB != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbAB != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumC != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryC != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbC != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumD != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryD != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbD != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumE != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryE != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbE != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumF != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryF != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbF != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumG != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryG != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbG != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumH != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryH != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbH != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumI != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryI != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbI != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumJ != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryJ != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbJ != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumK != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryK != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbK != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumL != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryL != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbL != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumM != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryM != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbM != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <span class="badge" ng-class="x.enumN != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.entryN != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                        <span class="badge" ng-class="x.gbN != null ? 'bg-blue' : 'bg-red'"><i class="fa fa-info"></i></span>
                      </td>
                      <td>
                        <button title="Copy Data" ng-disabled="!dariTabel && !keTabel" ng-click="duplikat(x, dariTabel, keTabel)" class="btn btn-warning btn-sm btn-block"><span class="fa fa-object-ungroup"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <small>Total :</small> {{filtered.length}}
              </div>
              <div class="form-group" ng-show="filtered.length > 10">
                <small for="inputName" class="col-sm-2 col-sm-offset-6">Jumlah /Page :</small>
                <div class="col-sm-2">
                  <select class="form-control input-sm" name="" ng-model="itemsize" ng-init="itemsize = '10'">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
                <div class="col-sm-12">
                  <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
                </div>
              </div>
            </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box box-primary-->


    </div>
    <!-- /.col 12 -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
