<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">FROM INPUT BROADCAST</h3>
        </div>

        <div class="box-body">
          <form name="form" ng-submit="addPesanBroadcast(dataInsert)" novalidate>

            <div class="row">
              <div class="col-md-12">

                <div class="form-group">
                  <label>Isi Pesan <b class="text-danger">*</b></label>
                  <textarea name="isi" class="form-control" ng-model="dataInsert.isi" required></textarea>
                  <span ng-show="form.isi.$invalid && !form.isi.$pristine"><i class="text-danger">Harus Di Isi</i></span>
                </div>

                <div class="form-group">
                  <label>Tampilkan Broadcast Pada Tanggal <b class="text-danger">*</b></label>
                  <div class="input-group">
                    <input type="text" name="mulai" class="form-control date-picker" ng-model="dataInsert.mulai" required>
                      <span class="input-group-addon"> <i class="fa fa-exchange"></i> </span>
                    <input type="text" name="selesai" class="form-control date-picker" ng-model="dataInsert.selesai" required>
                  </div>
                </div>

                <div class="form-group">
                  <label>Kepada  <b class="text-danger">*</b></label>
                  <ul>
                    <li ng-repeat="level in main.levels"><label ng-click="toggleSelectionBroadTo(level.id)"> <input type="checkbox" name="selected[]" value="{{level.id}}" ng-checked="selectionBroadTo.indexOf(level.id) > -1" /> {{level.nama_level}}</label></li>
                  </ul>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                      <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid">Submit</button>
                  </div>
                </div>


              </div><!-- md12 -->
            </div> <!-- row -->


          </form>
        </div><!-- box-body -->
        <div class="box-footer">
          FORM TAMBAH BROADCAST
        </div><!-- box-footer -->
      </div><!-- /.nav-tabs-custom -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">
$('.date-picker').datepicker({
  autoclose: true,
  todayHighlight: true,
  format:'yyyy-mm-dd'
})
</script>
